In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("data/oecd-result1.csv")
df["index"] = df["Country"] + df["Year"].apply(str)
NOX = df.loc[df["POL"] == "NOX", ["index", "Country", "Year", "Value"]]
CO = df.loc[df["POL"] == "CO", ["index", "Country", "Year", "Value"]]
NMVOC = df.loc[df["POL"] == "NMVOC", ["index", "Country", "Year", "Value"]]
PM10 = df.loc[df["POL"] == "PM10", ["index", "Country", "Year", "Value"]]
PM25 = df.loc[df["POL"] == "PM2-5", ["index", "Country", "Year", "Value"]]

In [22]:
NOX.rename(columns={"Value": "NOX"}, inplace=True)
CO.rename(columns={"Value": "CO"}, inplace=True)
NMVOC.rename(columns={"Value": "NMVOC"}, inplace=True)
PM10.rename(columns={"Value": "PM10"}, inplace=True)
PM25.rename(columns={"Value": "PM2.5"}, inplace=True)

In [23]:
merge = pd.merge(NOX, CO.loc[:, ["index", "CO"]], left_on="index", right_on="index", how="inner")
merge

                 index        Country  Year        NOX         CO
0        Australia1990      Australia  1990   1620.455   5728.572
1        Australia1991      Australia  1991   1595.685   5747.153
2        Australia1992      Australia  1992   1641.505   5896.438
3        Australia1993      Australia  1993   1684.372   6120.590
4        Australia1994      Australia  1994   1686.574   6262.886
..                 ...            ...   ...        ...        ...
286  United States2015  United States  2015  10489.687  48107.470
287  United States2016  United States  2016   9239.463  43924.212
288  United States2017  United States  2017   8716.058  42745.097
289  United States2018  United States  2018   8194.807  43022.716
290  United States2019  United States  2019   7714.427  41198.611

[291 rows x 5 columns]

In [24]:
merge = pd.merge(merge, NMVOC.loc[:, ["index", "NMVOC"]], on="index", how="inner")
merge

                 index        Country  Year        NOX         CO      NMVOC
0        Australia1990      Australia  1990   1620.455   5728.572   1514.639
1        Australia1991      Australia  1991   1595.685   5747.153   1506.220
2        Australia1992      Australia  1992   1641.505   5896.438   1510.862
3        Australia1993      Australia  1993   1684.372   6120.590   1528.016
4        Australia1994      Australia  1994   1686.574   6262.886   1539.812
..                 ...            ...   ...        ...        ...        ...
286  United States2015  United States  2015  10489.687  48107.470  12577.029
287  United States2016  United States  2016   9239.463  43924.212  11786.691
288  United States2017  United States  2017   8716.058  42745.097  11437.006
289  United States2018  United States  2018   8194.807  43022.716  11735.196
290  United States2019  United States  2019   7714.427  41198.611  10980.597

[291 rows x 6 columns]

In [25]:
merge = pd.merge(merge, PM10.loc[:, ["index", "PM10"]], on="index", how="inner")
merge

,index,Country,Year,NOX,CO,NMVOC,PM10
0,Canada1990,Canada,1990,2299.407,11589.890,2871.115,6669.249
1,Canada1991,Canada,1991,2211.588,11385.200,2812.988,6429.815
2,Canada1992,Canada,1992,2250.348,11325.100,2834.188,6378.559
3,Canada1993,Canada,1993,2300.251,11596.590,2919.891,6261.898
4,Canada1994,Canada,1994,2416.135,11566.730,2947.092,6578.460
...,...,...,...,...,...,...,...
211,United States2015,United States,2015,10489.687,48107.470,12577.029,14950.863
212,United States2016,United States,2016,9239.463,43924.212,11786.691,14319.802
213,United States2017,United States,2017,8716.058,42745.097,11437.006,13682.383
214,United States2018,United States,2018,8194.807,43022.716,11735.196,13522.404
215,United States2019,United States,2019,7714.427,41198.611,10980.597,13085.196

In [26]:
merge = pd.merge(merge, PM25.loc[:, ["index", "PM2.5"]], on="index", how="inner")
merge

,index,Country,Year,NOX,CO,NMVOC,PM10,PM2.5
0,Canada1990,Canada,1990,2299.407,11589.890,2871.115,6669.249,1682.019
1,Canada1991,Canada,1991,2211.588,11385.200,2812.988,6429.815,1630.670
2,Canada1992,Canada,1992,2250.348,11325.100,2834.188,6378.559,1595.657
3,Canada1993,Canada,1993,2300.251,11596.590,2919.891,6261.898,1574.071
4,Canada1994,Canada,1994,2416.135,11566.730,2947.092,6578.460,1611.059
...,...,...,...,...,...,...,...,...
199,United States2015,United States,2015,10489.687,48107.470,12577.029,14950.863,3939.963
200,United States2016,United States,2016,9239.463,43924.212,11786.691,14319.802,3786.711
201,United States2017,United States,2017,8716.058,42745.097,11437.006,13682.383,3652.227
202,United States2018,United States,2018,8194.807,43022.716,11735.196,13522.404,3771.162
203,United States2019,United States,2019,7714.427,41198.611,10980.597,13085.196,3606.182

In [29]:
merge = merge[["Country", "Year", "NOX", "CO", "NMVOC", "PM10", "PM2.5"]]
merge.to_csv("result/oecd-preprocessing-result.csv")